<mat-toolbar class="tool-bar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <xng-breadcrumb [autoGenerate]="false"></xng-breadcrumb>

  <span class="spacer"></span>

  <button id="layoutBtn" class="d-none" (click)="updateLayout()"></button>
  <button
    mat-icon-button
    [matBadge]="unVisibleNotificationsCount"
    matBadgePosition="before"
    matBadgeColor="accent"
    (click)="openNotifList()">
    <i class="fa fa-bell"></i>
  </button>
  <button class="btn__profile" [matMenuTriggerFor]="menu" mat-icon-button>
    <i *ngIf="!profile.avatar" class="fas fa-user"></i>
    <img
      *ngIf="profile.avatar"
      [src]="baseUrl + '/' + profile.avatar"
      class="img"
      width="30"
      height="30" />
    <span class="d-none d-sm-inline"> {{ profile.fullName }} </span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="moveToProfile()">
      <i class="fas fa-address-card"></i>
      {{ 'Profile' | translate }}
    </button>
    <button mat-menu-item (click)="onLogOutClick()">
      <i class="fas fa-sign-out-alt"></i>
      {{ 'LogOut' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="sidenav">
    <div class="logo-nav text-center">
      <img
        *ngIf="!profile.avatar"
        class="logo__nav"
        src="../../../assets/img/xuser.jpg" />
      <img
        *ngIf="profile.avatar"
        class="avatar"
        [src]="baseUrl + '/' + profile.avatar" />

      <span *ngIf="profile">{{ profile.fullName }}</span>
      <span *ngIf="!profile">{{ 'UserName' | translate }}</span>
    </div>
    <mat-nav-list>
      <app-menu-list-item
        *ngFor="let item of navItems"
        [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
