<form class="login" #registerForm="ngForm">
  <div class="login__field">
    <app-auth-input
      [iconClass]="'login__icon fas fa-user'"
      name="fullName"
      [type]="'text'"
      [Label]="'FullName' | translate"
      [(ngModel)]="registerData.fullName"
      [isRequired]="true"
    ></app-auth-input>
  </div>
  <div class="login__field">
    <app-auth-input
      [iconClass]="'login__icon fa fa-code'"
      name="nationalCode"
      [type]="'numericText'"
      [Label]="'NationalCode' | translate"
      [(ngModel)]="registerData.nationalCode"
      [isRequired]="true"
      [maxlength]="10"
      [minlength]="10"
    ></app-auth-input>
  </div>
  <div class="login__field">
    <app-auth-input
      [iconClass]="'login__icon fas fa-user'"
      name="userName"
      [type]="'text'"
      [Label]="'UserName' | translate"
      [(ngModel)]="registerData.userName"
      [isRequired]="true"
    ></app-auth-input>
  </div>
  <div class="login__field">
    <app-auth-input
      [iconClass]="'login__icon fa fa-key'"
      name="password"
      [type]="'password'"
      [Label]="'Password' | translate"
      [(ngModel)]="registerData.password"
      [isRequired]="true"
    ></app-auth-input>
  </div>
  <button
    [disabled]="
      !registerData.fullName ||
      !registerData.nationalCode ||
      !registerData.userName ||
      !registerData.password
    "
    class="button login__submit"
    (click)="onRegisterClick()"
  >
    <span class="button__text">{{ "Register" | translate }}</span>
    <i class="button__icon fas fa-chevron-right"></i>
  </button>
</form>
<div class="social-login">
  <a class="text-light" routerLink="/auth/login">{{ "Login" | translate }}</a>
  <div class="social-icons">
    <a
      href="javascript:void(0)"
      class="social-login__icon fab fa-instagram"
    ></a>
    <a href="javascript:void(0)" class="social-login__icon fab fa-facebook"></a>
    <a href="javascript:void(0)" class="social-login__icon fab fa-twitter"></a>
  </div>
</div>
