.card__bg__clolor {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card__height {
  height: 300px !important;
}

.card__button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card__sm__button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
