@import '~compass-mixins/lib/compass/css3';

$font-stack: 'Cabin', 'sans-serif';
$primary-color: #6cdba6;
$shadow-color: #59a07e;
$body-color: #2f2d2c;
$white: #fff;

a {
  color: #fff;
  text-decoration: none;
  transition: ease 0.3s 0;
}
a:hover {
  color: $shadow-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  text-transform: uppercase;
}
.initial {
  font-family: $font-stack;
  text-transform: uppercase;
  font-size: 3em;
  color: $white;
  font-weight: 700;
}
.logo {
  position: relative;
  top: 20%;
  height: 100px;
  width: 100px;
  margin: 0 auto 0;
  background: $primary-color;
  border-radius: 50%;
  text-align: center;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;

  h2 {
    margin-left: 5px;
    line-height: 100px;
    font-size: 5.35em;
    font-family: $font-stack;
    font-weight: 600;
    color: $white;
    border-radius: 50%;
    overflow: hidden;
  }
  .initial {
    transition: all 0.5s 0.8s ease;
    text-shadow: 0px 0px 0 #59a07e, 1px 1px 0 #59a07e, 2px 2px 0 #59a07e,
      3px 3px 0 #59a07e, 4px 4px 0 #59a07e, 5px 5px 0 #59a07e, 6px 6px 0 #59a07e,
      7px 7px 0 #59a07e, 8px 8px 0 #59a07e, 9px 9px 0 #59a07e,
      10px 10px 0 #59a07e, 11px 11px 0 #59a07e, 12px 12px 0 #59a07e,
      13px 13px 0 #59a07e, 14px 14px 0 #59a07e, 15px 15px 0 #59a07e,
      16px 16px 0 #59a07e, 17px 17px 0 #59a07e, 18px 18px 0 #59a07e,
      19px 19px 0 #59a07e, 20px 20px 0 #59a07e, 21px 21px 0 #59a07e,
      22px 22px 0 #59a07e, 23px 23px 0 #59a07e, 24px 24px 0 #59a07e,
      25px 25px 0 #59a07e, 26px 26px 0 #59a07e, 27px 27px 0 #59a07e,
      28px 28px 0 #59a07e, 29px 29px 0 #59a07e, 30px 30px 0 #59a07e,
      31px 31px 0 rgba(0, 0, 0, 0);
  }
  a {
    padding: 15px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 89%;
    left: 16%;
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 18px solid #6cdba6;
    transform: rotate 31px;
    -ms-transform: rotate(31deg);
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg);
  }
}
.name {
  margin: 7em 0 0.5em;
  font-size: 17px;
  font-family: $font-stack;
  font-weight: 700;
  color: $white;
  letter-spacing: 3px;
}
.h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}
.about {
  margin: 0 auto;
  width: 200px;
  line-height: 16px;
}
.contact-info {
  line-height: 160px;
}
.info {
  margin: auto;
  width: 427px;
  font-family: $font-stack;
  margin-bottom: 1em;
}
.wrapper,
.card-front,
.card-back {
  width: 427px;
  height: 320px;
}
.wrapper {
  margin: 1em auto;
  perspective: 1000;
}
.wrapper:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flipper {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}
.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  backface-visibility: hidden;
  text-align: center;
  box-sizing: border-box;
}
.card-front {
  z-index: 2;
  background: $white;
}
.card-back {
  transform: rotateY(180deg);
  background: $primary-color;
  color: $white;
}
.oval {
  position: relative;
  top: 38%;
  margin: auto;
  width: 55px;
  height: 25px;
  background: #2f2d2c;
  -moz-border-radius: 60px / 25px;
  -webkit-border-radius: 60px / 25px;
  border-radius: 55px / 25px;
  animation: shadow 2s infinite;
  -webkit-animation: shadow 2s infinite;
}
@-webkit-keyframes bounce {
  0% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  50% {
    margin-top: 22px;
    margin-bottom: 3px;
  }
  100% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@keyframes bounce {
  0% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  50% {
    margin-top: 22px;
    margin-bottom: 3px;
  }
  100% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes shadow {
  0% {
    padding: 1px;
    opacity: 0.1;
  }
  50% {
    padding: 3px;
    opacity: 0.18;
  }
  100% {
    padding: 1px;
    opacity: 0.1;
  }
}
@keyframes shadow {
  0% {
    padding: 1px;
    opacity: 0.1;
  }
  50% {
    padding: 3px;
    opacity: 0.18;
  }
  100% {
    padding: 1px;
    opacity: 0.1;
  }
}
