<h2 mat-dialog-title>{{ data.extraFileModalTitle | translate }}</h2>
<div mat-dialog-content>
  <form class="row" #complaintForm="ngForm">
    <app-file-uploader
      *ngIf="showFile"
      [src]="baseUrl + '/' + filePath"
      [Label]="'FileUpload'"
      [fileTypeLimit]="'any'"
      [fileMaxSize]="1"
      (removeFile)="removeFile()"
      (uploadFile)="uploadFile($event)"></app-file-uploader>
  </form>
</div>
<mat-dialog-actions class="justify-content-end">
  <button class="btn btn-hover-light-info mx-1" (click)="onCloseClick()">
    <i class="fas fa-times"></i>
    {{ 'Cancel' | translate }}
  </button>
  <button
    class="btn btn-success"
    (click)="onSaveClick()"
    [disabled]="!complaintForm.form.valid">
    <i class="fas fa-save"></i>
    {{ 'Save' | translate }}
    <mat-icon *ngIf="saving">
      <mat-spinner color="accent" diameter="20"> </mat-spinner>
    </mat-icon>
  </button>
</mat-dialog-actions>
