<div class="left__side">
  <button mat-fab class="create__btn" color="primary" (click)="addAdvertise()">
    <i class="fas fa-plus fa-2x"></i>
  </button>
  <!-- <button mat-fab class="search__btn" color="primary" (click)="onSearchClick()">
    <i class="fas fa-search fa-2x"></i>
  </button> -->
</div>
<div class="row m-3">
  <app-advertise-card
    class="col-md-6 col-sm-12 my-1"
    *ngFor="let advertise of advertiseList"
    (editClick)="editAdvertise($event)"
    (removeClick)="removeAdvertise($event)"
    [data]="advertise"></app-advertise-card>
</div>
<app-pagination
  *ngIf="showPagination"
  [page]="page"
  [pageSize]="pageSize"
  [totalElement]="totalElement"
  (pageChanged)="onPageChange($event)"></app-pagination>
